/*
table {
    width: 50%;
    border: 1px solid #000;
 }
 /*
 th, td {
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
 th {
    background: #eee;
 }


 
.flex{
   width: 100%;
   height: 47px;
   position: relative;
    
}

 .searchG{
   width: 21.3%;
    height: 48px;
    position: relative;
    left: 59%;
    top: -0%;
    display: inline-block;
 }

 .containerSpeed{
   width: 4.5%;
    height: 48px;
    display: inline;
    float: right;
 }
  div#divTables{
   width: 95%;
   margin: 1% auto;
  }
*/
 h2{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #495057;
  padding-left: 20px;
 }


.mainTable{
   width: 97.5vw;;
 }


 .mainTable__companies{
   width: 100%;
 }

 .companies__flex{
   width: 100%;
   height: 47px;
   display: flex;
   flex-direction: row;
   align-items: stretch;
}

.flex__clear{
   width: 130px;
   display: inline-block;
   flex-basis: auto;
   flex-grow: 1;
}

.flex__print{
   width: 47px;
   display: inline-block;
   flex-basis: auto;
}

.flex__search{
   width: 207px;
   display: inline-block;
   flex-basis: auto;
}


 @media screen and (min-width: 1329px){
   html{
       width: 1328px;
       /*margin: 0vh 20vh 0vh 20vh;*/
   }
   .mainTable{
       width: 1328px;
   }
}