<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p-toast></p-toast>
    <p-tabMenu [model]="items">
    </p-tabMenu> 
    <div class="grid flex-column">
        <div class="col mb-2">
            <p-button
                (click)="avatarMostrar()"
                icon="pi pi-user"
                style="height: 3rem;
                top: -50px;
                float: right;
                position: relative;
                width: 3rem; "
                shape="circle"
          ></p-button>
        </div>
    </div>

    <div *ngIf="selectedEmployee">
        <p-dialog
            [(visible)]="displayBasic"
            position="top-right"
            [modal]="true"
            [style]="{ width: '20vw', height: '15vw' }"
            [draggable]="false"
            [resizable]="false">
            <ng-template pTemplate="header">Cuenta </ng-template>

            <p>{{ selectedEmployee.name }} {{ selectedEmployee.surname }}</p>
            <p>{{ selectedEmployee.email }}</p>
            
            <ng-template pTemplate="footer">
                <p-button (onClick)="signOff()">Cerrar sesion</p-button>
            </ng-template>
        </p-dialog>
    </div>     
</body>
</html>