
<p-button (onClick)="get(urlGetCompanies)">Get Companies</p-button>
<input pInputText [(ngModel)]="company.name">
<p-button (onClick)="post(urlGetCompanies, company)">Post Companies</p-button>
<input pInputText [(ngModel)]="company.cuit">
<p-button (onClick)="delete(urlGetCompanies, company)">Delete Company</p-button>
<input pInputText [(ngModel)]="company.name">
<p-button (onClick)="put(urlGetCompanies, company)">Put Company</p-button>
<p-button (onClick)="get(urlGetEmployees)">Get Employees</p-button>
<input pInputText [(ngModel)]="employee.name">
<p-button (onClick)="post(urlGetEmployees, employee)">Post Employees</p-button>

<p-button><a href="http://localhost:3000/companies/companies.pdf" target="_blank">Ver PDF</a></p-button>

<iframe src="http://localhost:3000/companies/companies.pdf&embedded=true" style="width:100%; height:700px;" frameborder="0" ></iframe>

<embed src="http://localhost:3000/companies/companies.pdf" type="application/pdf" width="100%" height="600px" />


<a href="http://localhost:3000/companies/companies.pdf" target="_blank">Hypervínculo</a>