.errors {
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  text-align: left;

  margin-left: 120px;
  margin-top: -15px;
}

.next {
  float: right;
}

.section h4 {
  position: relative;
  top: 15px;
  right: 20px;
}

input {
  background-color: aliceblue;
  width: 400px;
  height: 30px;
  margin-top: -20px;
  margin-bottom: 0px;
  padding: 15px;
}

.position input {
  margin-top: 0px;
}

.section {
  position: relative;
  left: 25px;
  top: -35px;
}

.flex-container {
  display: flex;
  height: 170px;
  margin-top: 20px;
}

.flex-container > div {
  width: 10px;
  margin: 5px;
  text-align: left;
  line-height: 40px;
  flex: 1 1 200px;
}

.speeddial-linear-demo {
  left: calc(40% - 2rem);
  bottom: 0;
  height: 500px;
  position: relative;
}
p-button,
p-table {
  position: relative;
  top: -95px;
}

h2 {
  position: relative;
  top: -100px;
}
