.errors {
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  text-align: left;

  margin-left: 120px;
  margin-top: -15px;
}

.next {
  float: right;
}

.section h4 {
  position: relative;
  top: 15px;
  right: 20px;
}

@media screen and (min-width: 500px){
  p-card{
      width: 50%;
      /*margin: 0vh 20vh 0vh 20vh;*/
  }
}


select {
  background-color: aliceblue;
  width: 20%;
  height: 20px;
  margin-top: -30px;
  margin-bottom: 0px;
  padding: 15px;
}

@media screen and (max-width: 800px){
  body {
    width: 100%;
  }
  .sectionField input{
    width: 100%;
  }
}


.sectionField input {
  background-color: aliceblue;
  width: 30%;
  height: 30px;
  margin-top: -2%;
  margin-bottom: 0%;
  padding: 15px;

}
:host ::ng-deep .p-speeddial-button.p-button.p-button-icon-only {
  height: 2.5rem; width: 2.5rem; top:0px; right:0px; position:relative;
}

:host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {

  background-color: aliceblue;
  width: 175px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0rem 1.25rem;
  
}

:host ::ng-deep 
.p-dropdown-item {
  cursor: pointer;
  font-weight: 400;
  height: 35px;
  text-align: initial;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

:host ::ng-deep 
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 0;
  padding: 0rem 1.25rem;
  border: 0 none;
  color: #495057;
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
}

.section {
  position: relative;
  left: 25px;
  top: -35px;
}

.flex-container {
  display: flex;
  height: 170px;
  margin-top: 20px;
}

.flex-container > div {
  width: 30%;
  margin: 5px;
  text-align: left;
  line-height: 40px;
  flex: 1 1 200px;
}

.speeddial-linear-demo {
  left: calc(40% - 2rem);
  bottom: 0;
  height: 50%;
  position: relative;
}

.p-table {
  position: relative;
  top: -95px;
}

:host ::ng-deep .p-button.p-button-icon-only {
  position: relative;
  top: 0px;
  border-radius: 100%;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
  border-top: 0 none;
  background: #ffffff;
  color: #495057;
  padding: 0rem;
  height: 50px;
  text-align: right;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

:host ::ng-deep .p-dialog .p-dialog-footer button {
  margin: 1 1.5rem;
  width: auto;
  position: relative;
}
:host ::ng-deep .p-inputtext {
  margin: 0;
  height: 40px;
}
:host ::ng-deep  .p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  position: relative;
  top: 10px;
  left: 250px;
}


:host ::ng-deep .p-dialog .p-dialog-content {
  background: #ffffff;
  color: #495057;
  padding: 1.5rem 1rem 0rem;
}
.listEmployee {
  position: relative;
  top: -10%;
}

#items{
  height: 20px; 
  float: right;
  top: -15px;
  position: relative;
}

#lupa{
  height: 20px; 
  float: right;
  top: -15px;
  position: relative;
}

.optionsButtons {
  float: right;
  top: -15px;
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 0.1rem 0.2rem;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: #343a40;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  padding: 0.9rem 0.2rem;
}

.speeddial-tooltip-demo{
  height: 0px; top:-14%; left:20px; width: 20px; position: relative;
}
:host ::ng-deep .p-dialog .p-dialog-header {
  border-bottom: 0 none;
  background: #ffffff;
  color: #343a40;
  padding: 0.5rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}