<p-toast></p-toast>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
<p-card>
  <ng-template pTemplate="title"> Información de Empleado </ng-template>

  <ng-template pTemplate="content">
    <div class="section">
      <h4>Complete datos de empleado</h4>
      <div class="flex-container">
        <div>
          <div class="sectionField">
            <div><label for="name">Nombre</label></div>
            <input
              tabindex="1"
              type="text"
              id="name"
              pInputText
              [(ngModel)]="personalInformation.name"
              #name="ngModel"
              required
              pInputText
            />
            <div [hidden]="name.valid || !name.touched" class="errors">
              <div *ngIf="name.errors?.['required']">Nombre es requerido</div>
            </div>
          </div>

          <div class="sectionField">
          <div><label for="surname">Apellido</label></div>
          <input
            tabindex="2"
            id="surname"
            type="text"
            [(ngModel)]="personalInformation.surname"
            #surname="ngModel"
            required
            pInputText
          />
          <div [hidden]="surname.valid || !surname.touched" class="errors">
            <div *ngIf="surname.errors?.['required']">Apellido es requerido</div>
          </div>
        </div>
      </div>

  
        <div>
          <div class="sectionField">
            <div><label for="dateOfBirth">Fecha de Nacimiento</label></div>
            <input
              tabindex="3"
              id="dateOfBirth"
              type="date"
              [(ngModel)]="personalInformation.dateOfBirth"
              #dateOfBirth="ngModel"
              required
              pInputText
            />
            <div
              [hidden]="dateOfBirth.valid || !dateOfBirth.touched"
              class="errors"
            >
              <div *ngIf="dateOfBirth.errors?.['required']">
                Fecha de nacimiento es requerido
              </div>
            </div>
          </div>

          <div class="sectionField">
            <div><label for="cuit">Cuit</label></div>
            <input
              tabindex="4"
              id="cuit"
              type="number"
              [(ngModel)]="personalInformation.cuit"
              #cuit="ngModel"
              required
              pInputText
            />
            <div [hidden]="cuit.valid || !cuit.touched" class="errors">
              <div *ngIf="cuit.errors?.['required']">Cuit es requerido</div>
            </div>
          </div>
        </div>


      </div>

      <h4>Datos relacionados a la compañia</h4>
      <div class="flex-container">
        <div class="sectionField">
          <div>
            <label for="position">Puesto de trabajo</label>
          </div>
          <p-dropdown (onChange)="selectPosition()" [options]="positions" [(ngModel)]="selectedPosition" #position="ngModel" requerid placeholder="Select a position" [showClear]="true"></p-dropdown>
          
        </div>

        <div class="sectionField">
          <div><label for="startDate">Fecha de comienzo</label></div>
          <input
            tabindex="7"
            id="startDate"
            type="date"
            [(ngModel)]="personalInformation.startDate"
            #startDate="ngModel"
            required
            pInputText
          />
          <div [hidden]="startDate.valid || !startDate.touched" class="errors">
            <div *ngIf="startDate.errors?.['required']">
              Fecha de comienzo es requerida
            </div>
          </div>
        </div>


        <div class="sectionField">
          <div>
            <label for="businessHours">Carga Horaria</label>
          </div>
          <input
            tabindex="6"
            id="businessHours"
            type="text"
            [(ngModel)]="personalInformation.businessHours"
            #businessHours="ngModel"
            required
            pInputText
          />
          <div
            [hidden]="businessHours.valid || !businessHours.touched"
            class="errors"
          >
            <div *ngIf="businessHours.errors?.['required']">
              Carga horaria es requerida
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="p-table" *ngIf="employees.length>0">
    <div>
      <h2>Employees list</h2>
    </div>


    <p-table [value]="employees" [(selection)]="selectedEmployee">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox inputId="check"></p-tableHeaderCheckbox>
          </th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cuit</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employees let-i="rowIndex" >
        <tr>
          <td>
            <p-tableCheckbox [value]="employees"  [index]="i"></p-tableCheckbox>
          </td>
          <td>{{ employees.name }}</td>
          <td>{{ employees.surname }}</td>
          <td>{{ employees.cuit }}</td>
          <td>
            <div class="optionsButtons">
              <div id="items" class="speeddial-circle-demo">
              <p-button (click)="deleteEmployeeInModal(i)" icon="pi pi-trash" ></p-button>
              </div>
              <div id="lupa" class="speeddial-circle-demo">
              <p-button [class.selected]="employees === selectedEmployee" (click)="showBasicDialog(i)"  icon="pi pi-search"  ></p-button>
              </div>
            </div>
       </td>
        </tr>
        <!--- <div *ngIf="selectedCheckBox">
          <p-button icon="pi pi-trash" ></p-button>
        </div>!-->
      </ng-template>
    </p-table>
  </div>

    <div class="grid grid-nogutter justify-content-between">
      <p-button
        label="Atras"
        (onClick)="prevPage()"
        icon="pi pi-angle-left"
      ></p-button>
      <p-button 
        class="speeddial-linear-demo"
        (onClick)="addToEmployeeList()"
        icon="pi pi-plus"
      ></p-button>
      <p-button 
        class="next"
        label="Siguiente"
        (onClick)="nextPage()"
        icon="pi pi-angle-right"
        iconPos="right"
      ></p-button>
    </div>
  </ng-template>

  <div *ngIf="selectedEmployee">
  <p-dialog header="Información de empleado" [(visible)]="displayBasic" [style]="{width: '50vw', height: '17vw'}">
    
    <p-table [value]="employees" [(selection)]="selectedEmployee">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cuit</th>
          <th>Fecha de Nacimiento</th>
          <th>Puesto</th>
          <th>Fecha de comienzo</th>
          <th>Carga horaria</th>
        </tr>
      </ng-template>
    <ng-template pTemplate="body" >
      <tr >
          <td>
              <input type="text" id="name" name="name" [(ngModel)]="selectedEmployee.name" 
              #name="ngModel"  pInputText [disabled]="displayEdit">
          </td>

          <td> 
              <input type="text" id="surname" name="surname" [(ngModel)]="selectedEmployee.surname" 
              #surname="ngModel"  pInputText [disabled]="displayEdit">
          </td>

          <td>
            <input type="number" id="cuit" name="cuit" [(ngModel)]="selectedEmployee.cuit" 
            #cuit="ngModel" pInputText [disabled]="displayEdit">
        </td>

          <td>
            <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="selectedEmployee.dateOfBirth" 
            #dateOfBirth="ngModel" pInputText [disabled]="displayEdit">
          </td>

          <td>
            <p-dropdown (onChange)="selectPosition()" [options]="positions" [(ngModel)]="selectedPosition"
             #position="ngModel" requerid placeholder="Select a position" [showClear]="true"></p-dropdown>
          </td>
          <td>
            <input type="date" id="startDate" name="startDate" [(ngModel)]="selectedEmployee.startDate" 
            #startDate="ngModel" pInputText [disabled]="displayEdit">
          </td>
          <td>
            <input type="number" id="businessHours" name="businessHours" [(ngModel)]="selectedEmployee.businessHours" 
            #businessHours="ngModel" pInputText [disabled]="displayEdit">
          </td>

        </tr>
      </ng-template>
    </p-table>   

  <ng-template pTemplate="footer">
      <p-button icon="pi pi-save" (click)="displayBasic=false" label="Guardar"></p-button>
  </ng-template>
</p-dialog>
</div>
</p-card>
</body>
</html>