<p-toast></p-toast>
<p-card>
  <ng-template pTemplate="title"> Employee Information </ng-template>
  <ng-template pTemplate="subtitle"> Complete the personal fields </ng-template>

  <ng-template pTemplate="content">
    <div class="section">
      <div class="flex-container">
        <div>
          <div class="position">
            <div><label for="name">Name</label></div>
            <input
              tabindex="1"
              type="text"
              id="name"
              pInputText
              [(ngModel)]="personalInformation.name"
              #name="ngModel"
              required
              pInputText
            />
            <div [hidden]="name.valid || !name.touched" class="errors">
              <div *ngIf="name.errors?.['required']">Name is required.</div>
            </div>
          </div>
          <div class="position">
          <div><label for="surname">Surname</label></div>
          <input
            tabindex="2"
            id="surname"
            type="text"
            [(ngModel)]="personalInformation.surname"
            #surname="ngModel"
            required
            pInputText
          />
          <div [hidden]="surname.valid || !surname.touched" class="errors">
            <div *ngIf="surname.errors?.['required']">Surname is required.</div>
          </div>
        </div>
      </div>
        <div>
          <div class="position">
            <div><label for="dateOfBirth">DateOfBirth</label></div>
            <input
              tabindex="3"
              id="dateOfBirth"
              type="date"
              [(ngModel)]="personalInformation.dateOfBirth"
              #dateOfBirth="ngModel"
              required
              pInputText
            />
            <div
              [hidden]="dateOfBirth.valid || !dateOfBirth.touched"
              class="errors"
            >
              <div *ngIf="dateOfBirth.errors?.['required']">
                dateOfBirth is required.
              </div>
            </div>
          </div>

          <div class="position">
            <div><label for="cuit">Cuit</label></div>
            <input
              tabindex="4"
              id="cuit"
              type="number"
              [(ngModel)]="personalInformation.cuit"
              #cuit="ngModel"
              required
              pInputText
            />
            <div [hidden]="cuit.valid || !cuit.touched" class="errors">
              <div *ngIf="cuit.errors?.['required']">Cuit is required.</div>
            </div>
          </div>
        </div>
      </div>

      <h4>Complete in the position fields</h4>
      <div class="flex-container">
        <div class="position">
          <div>
            <label for="position">Position</label>
          </div>
          <p-dropdown styleClass="p-dropdown" [options]="positions" [(ngModel)]="selectedPosition" placeholder="Select a position" [showClear]="true"></p-dropdown>
          
            
         <!---<input
            tabindex="5"
            id="position"
            type="text"
            [(ngModel)]="personalInformation.position"
            #position="ngModel"
            required
            pInputText
          />
          <div [hidden]="position.valid || !position.touched" class="errors">
            <div *ngIf="position.errors?.['required']">
              Position is required.
            </div>
          </div>--->
        </div>
        <div class="position">
          <div>
            <label for="startDate">StartDate</label>
          </div>
          <input
            tabindex="7"
            id="startDate"
            type="date"
            [(ngModel)]="personalInformation.startDate"
            #startDate="ngModel"
            required
            pInputText
          />
          <div [hidden]="startDate.valid || !startDate.touched" class="errors">
            <div *ngIf="startDate.errors?.['required']">
              Start Date is required.
            </div>
          </div>
        </div>
        <div class="position">
          <div>
            <label for="businessHours">BusinessHours</label>
          </div>
          <input
            tabindex="6"
            id="businessHours"
            type="text"
            [(ngModel)]="personalInformation.businessHours"
            #businessHours="ngModel"
            required
            pInputText
          />
          <div
            [hidden]="businessHours.valid || !businessHours.touched"
            class="errors"
          >
            <div *ngIf="businessHours.errors?.['required']">
              Business Hours is required.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="listEmployee">
      <h2>Employees list</h2>
    </div>

    <div class="p-table">
    <p-table [value]="employees">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Name</th>
          <th>Surname</th>
          <th>Cuit</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employees let-i="rowIndex" >
        <tr>
          <td>
            <p-tableCheckbox [value]="employees"></p-tableCheckbox>
          </td>
          <td>{{ employees.name }}</td>
          <td>{{ employees.surname }}</td>
          <td>{{ employees.cuit }}</td>
          <td>
            <div class="card">
              <div id="items" class="speeddial-circle-demo">
                  <p-speedDial style="height: 2.5rem; top:0px; right:7px; position:relative; width: 2.5rem;" showIcon="pi pi-trash" buttonStyle="height: 2.5rem; width: 2.5rem; top:0px; right:0px; position:relative; " (click)="deleteEmployeeInModal()"  direction="left" ></p-speedDial>
              </div>
          </div>
      </td>
      <td>
        <div class="card">
          <div style="height: 20px; right:10px; top:0px; position: relative;" class="speeddial-circle-demo">
              <p-speedDial style="height: 2.5rem; top:0px; right:7px; position:relative; width: 2.5rem;" [class.selected]="employees === selectedEmployee" (click)="showBasicDialog(i)" buttonStyle="height: 2.5rem; top:-10px; right:7px; position:relative; width: 2.5rem;" direction="left" showIcon="pi pi-search"  ></p-speedDial>
          </div>
        </div>
       </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

    <div class="grid grid-nogutter justify-content-between">
      <p-button 
        label="Back"
        (onClick)="prevPage()"
        icon="pi pi-angle-left"
      ></p-button>
      <p-button 
        class="speeddial-linear-demo"
        (onClick)="addToEmployeeList()"
        icon="pi pi-plus"
      ></p-button>
      <p-button 
        class="next"
        label="Next"
        (onClick)="nextPage()"
        icon="pi pi-angle-right"
        iconPos="right"
      ></p-button>
    </div>
  </ng-template>

  <div *ngIf="selectedEmployee">
  <p-dialog header="Information Employee" [(visible)]="displayBasic" [style]="{width: '50vw'}">
    <ng-template pTemplate="body" >
      <tr >
          <td>
              <input type="text" id="name" name="name" [(ngModel)]="selectedEmployee.name" 
              #name="ngModel" (keyup.enter)="onSelect(selectedEmployee)"  pInputText [disabled]="displayEdit">
          </td>

          <td> 
              <input type="text" id="surname" name="surname" [(ngModel)]="selectedEmployee.surname" 
              #surname="ngModel" (keyup.enter)="onSelect(selectedEmployee)"  pInputText [disabled]="displayEdit">
          </td>

          <td>
            <input type="number" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="selectedEmployee.dateOfBirth" 
            #dateOfBirth="ngModel" (keyup.enter)="onSelect(selectedEmployee)"  pInputText [disabled]="displayEdit">
          </td>

          <td>
              <input type="number" id="cuit" name="cuit" [(ngModel)]="selectedEmployee.cuit" 
              #cuit="ngModel" (keyup.enter)="onSelect(selectedEmployee)"  pInputText [disabled]="displayEdit">
          </td>

          <td>
              <input type="email" id="position" name="position" [(ngModel)]="selectedEmployee.position" 
              #position="ngModel" (keyup.enter)="onSelect(selectedEmployee)"  pInputText [disabled]="displayEdit">
          </td>
     
          <p-button (click)="displayEdit=false" label="Edit" styleClass="p-button-text"></p-button>
        </tr>
      </ng-template>
  <ng-template pTemplate="footer">
      <p-button class="p-button" label="Delete" (click)="deleteEmployeeInModal()"> </p-button>
      <p-button class="p-button" icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
</div>
</p-card>

