/* You can add global styles to this file, and also import other style files */
.contenedor{
    width: 98vw;
    height: 115px;
    display: flex;
}

.contenedor__imgHeader{
    width: 100%;
}

@media screen and (min-width: 1329px){
    html{
        width: 1328px;
        /*margin: 0vh 20vh 0vh 20vh;*/
    }
    .contenedor{
        width: 1328px;
    }
}
@media screen and (max-width:1328px){
    .contenedor{
        height: 100px;
    }
}
@media screen and (max-width:960px){
    .contenedor{
        height: 90px;
    }
}

@media screen and (max-width:480px){
    .contenedor{
        height: 50px;
    }
}
/*
@media screen and (breakpoint){
    h1{
        color: black;
    }
}
*/
