<h1>Login</h1>
<div>
    <form class="form"  name="formRegister" (submit)="onSubmit()" #formRegister="ngForm">
        <div>
            
                <div class="labelInput">
                    <label for="email">Email</label>
                </div>
            <input tabindex="1" type="text" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" minlength="8" required email pInputText>
            <div [hidden]="email.valid || !email.touched" class="errors">
                <div>
                    <span *ngIf="email.errors?.['required']">
                        Email is required
                    </span>
                </div>
                <div>
                    <span *ngIf="email.errors?.['minlength']">
                        Email must at least 8 characters
                    </span>
                </div>

                <div>
                    <span *ngIf="email.errors?.['email']">
                        Email structure incorrect
                    </span>
                </div>
            </div>
       

        <div id="passwordDiv">
            <div class="labelInput">
                <label for="password">Password</label>
            </div>

            <input tabindex="2" type="text" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" minlength="6" required appPasswordValidation pwvalidlowerCase pInputText>
            <div [hidden]="password.valid || !password.touched" class="errors">
                <div *ngIf="password.errors?.['required']">
                    Password is required.
                </div>

                <div *ngIf="password.errors?.['requiresDigit']">
                    Must at least 1 digit
                </div>

                <div *ngIf="password.errors?.['minlength']">
                    Must be at least 6 characters
                </div>

                <div *ngIf="password.errors?.['requiresUppercase']">
                    Must be at least 1 uppercase
                </div>

                <div *ngIf="password.errors?.['requiresLowercase']">
                    Must be at least 1 lowercase
                </div>

                <div *ngIf="password.errors?.['requiresSpecialChars']">
                    Must be at least 1 special character
                </div>
            </div>
            
        </div>

    </div>

        <button pButton type="submit">Login</button>

        <div>
            <label class="labelRegister">New user?</label>
            <div>
                <a class="linkRegister" routerLink="/register">Create a new account</a>
            </div>
        </div>
    </form>
</div>
