
p-table {
    width: 50%;
 }
 th, td {
    width: 0%; 
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }

 th {
    background: #eee;
 }

input {
   background-color: aliceblue;
   width: 150px;
   height: 30px;
   margin-top: -20px;
   margin-bottom: 0px;
   padding: 0px;
   font-size: 15px;
}


.p-datatable-table {
      border-spacing: 0px;
      width: 50%;
  }    


