
  <body>
    <app-menu></app-menu>
        <p-table
      #dt
      [value]="users"
      selectionMode="multiple"
      [(selection)]="selectedUser"
      [exportHeader]="'customExportHeader'"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-excel"
            (click)="exportExcel()"
            class="p-button-success mr-2"
            pTooltip="XLS"
            tooltipPosition="bottom"
          ></button>
        </div>
      </ng-template>
    </p-table>

    <p-table class="Users" #dt [value]="users" [(selection)]="selectedUser">
      <ng-template pTemplate="caption">
        <div class="table-header">List of Users</div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>

          <th>IDe</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Salary</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user [value]="user">

            <tr class="p-selectable-row">
                <td>
                    <span class="p-column-title"></span>
                    {{user.id}}
                </td>
                <td>
                    <span class="p-column-title"></span>
                    {{user.name}}
                </td>
                <td>
                    <span class="p-column-title"></span>
                    {{user.surname}}
                </td>
                <td>
                    <span class="p-column-title"></span>
                        <input type="number" id="salary" name="salary" [(ngModel)]="user.salary" #salary="ngModel" (keyup.enter)="onSelect(user)"  pInputText>
                </td>
                <td>
                    <span class="p-column-title"></span>
                    {{user.phone}}
                </td>
                <td>
                    <span class="p-column-title"></span>
                    {{user.email}}
                </td>
        </tr>
    </ng-template>
</p-table>
<br>
<div>
    <p-button  type="p-button">Home</p-button>
</div>
</body>
